// #13A6CA
// #06A0FF

// Change this color to change everything that uses it
$color-primary: #0c9ef8;
$color-primary-light: #40c2e9;
$color-primary-dark: #115eb6;

$color-secondary: #ff760d;
$color-secondary-light: #faa00f;
$color-secondary-dark: #e47309;

$color-tertiary: #19c421;
$color-tertiary-light: #2fe265;
$color-tertiary-dark: #0b9454;

$color-white: #fff;
$color-light-1: #f9f9f9;
$color-light-2: #fdf6f6;
$color-grey-light-2: #d7dcde;
$color-grey-light-3: #c9cecf;

$color-black: #000;
$color-dark: #041c24;
$color-grey-dark-1: #2c3133;
$color-grey-dark-2: #677275;
$color-grey-dark-3: #a2abad;
