$color-primary: #f96d00;
$color-primary-light: #ff9e03;
$color-secondary: #00adb5;
$color-secondary-light: #06a5ff;

$color-white: #fff;
$color-light-1: #f9f9f9;
$color-light-2: #fdf6f6;
$color-grey-light-2: #d7dcde;
$color-grey-light-3: #c9cecf;

$color-black: #000;
$color-dark: #041c24;
$color-grey-dark-1: #2c3133;
$color-grey-dark-2: #677275;
$color-grey-dark-3: #a2abad;
