@use "../abstracts" as *;

.btn {
  &:link,
  &:visited {
    text-decoration: none;
  }

  display: inline-block;
  width: auto;
  text-align: center;
  color: inherit;
  transition: all 0.25s ease;

  &--primary {
    padding: 1rem 2rem;
    border: 2px solid $color-primary;
    border-radius: 5px;
    background: $color-primary;
    color: $color-light-1;

    &:hover {
      background: $color-light-1;
      color: $color-dark;
      @include box-shadow("sm", darken($color-primary, 10%));
      transform: translateY(-2.5px);
    }

    &:active {
      transform: translateY(-1.5px);
    }
  }

  &--secondary {
    padding: 1rem 2rem;
    border: 2px solid $color-primary;
    border-radius: 5px;

    &:hover {
      background: $color-primary;
      color: white;
    }
  }

  &--text {
    &:hover {
      color: $color-primary;
    }
  }

  &--submit {
    @include respond("tablet-portrait") {
      width: 100%;
    }
  }
}
