@use "../abstracts" as *;

.form {
  &__group {
    &:not(:last-child) {
      margin-bottom: $m-sm;
    }

    &--flex {
      display: flex;
      align-items: center;
    }
  }

  &__label {
    display: block;
    font-weight: bold;
    margin-bottom: $m-xs;

    &--checkbox {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      border: 2px solid $color-grey-dark-3;
      border-radius: 2px;
      position: relative;
      margin-right: $m-xs;

      transition: all 0.25s ease;

      &::after {
        content: "\2713";
        font-weight: bold;
        color: $color-primary;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -52.5%) scale(0.9);
        opacity: 0;

        // background: url(../img/icons/checkmark.svg);
      }
    }
  }

  &__input {
    display: block;
    width: 75%;

    @include respond("tablet-portrait") {
      width: 100%;
    }

    padding: 1rem 2rem;
    border: 2px solid $color-grey-dark-3;
    border-radius: 5px;
    transition: all 0.25s ease;

    &:focus {
      outline: none;
      border-color: $color-primary;
    }
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked + &__label--checkbox {
    border-color: $color-primary;

    &::after {
      opacity: 1;
    }
  }
}

::placeholder {
  color: $color-grey-dark-2;
}
