@use "../abstracts" as *;

.hero {
  &__image-box {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    @include respond("tablet-portrait") {
      display: none;
    }
  }

  &__image {
    transform: scale(1.5);
  }
}
