@use "../abstracts" as *;

.nav {
  &__list {
    list-style: none;
    margin-right: $m-xl;
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: $m-md;

      @include respond("tablet-portrait") {
        margin-right: $m-sm;
      }
    }
  }
}
